body{
  background-color: #fff !important;
}

.contentBox{
  background-color: #fff !important;
}

/* Main content holder*/
.locationPane{
    margin-top: 0 !important;
    padding-bottom: 0 !important;
}


/*
  ---
  ---
  --- Nav bar
  ---
  ---
*/

.global-nav-bar-wrap{
  background-color: #5E0366 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.tabWrapper-right{
  height: 20px;
  position: absolute;
  top: 1px;
  right: 240px;
  background-color: none !important;
  transform: scaleY(0.5);
  border: none !important;
}

.tabWrapper-right a{
  transform: scaleY(2.0);
}

.brandingImgWrap{
  background-color: #5E0366 !important;
  height: 75px !important;
  display: flex;
  align-items: center;
}

.brandingImgWrap a{
align-self: flex-start;
margin-top: 5px;
}

.bouncer{
  border-bottom: none !important;
  background-color: yellow;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.locationPane .contentPaneWide .container{
  border: none !important;
/*  margin: 0 !important;*/
}

.contentPane .shadow {
    border-top: 6px solid #fff !important;
    background-color: #fff !important;
}
.appTabs td{
  height: 20px !important;
  padding: 20px 0 20px 0 !important;
  vertical-align: top !important;
}


/* Top tab indicator */
.appTabs td.active{
  position: relative;
  padding: 0px 0 14px 0 !important;
  transform: translateY(15px);
}

.appTabs td.active + td{
  transform: translateY(-5px);
}
/*
.appTabs td.active a{
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}*/

/* Hides tab border */
.appTabs td.active::before{
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  bottom: 8px;
  background-color: #5E0366;
}

.global-nav-bar .nav-link{
  background-color: #5E0366 !important;
  margin: 22px 10px  10px 0 !important;
  border-radius: 10px;
  transform: scale(1.2);
/*  background: g;*/
}

.global-nav-bar .nav-link:hover{
  cursor: pointer;
}

.hideoff{
  margin: 0 !important;
}

#quick_links_wrap {
  left: 150px !important;
  top: 25px !important;
  border-radius: 10px !important;
  background-color: #5E0366 !important;
  transform: scale(1.3);
}

#quick_links_wrap a{
  padding: 0 31px 0 0 !important;
}

.global-nav-bar .nav-link img{
  border-radius: 15px;
}

.logout-link{
  transform: scale(0.8);
}

#badgeTotalCount{
  padding: 3px 5px 0 5px;
  border-radius: 4px;
}

/* Breadcrumbs */
.breadcrumbs{
  border-bottom: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  z-index: 5;
}



/*
  ---
  ---
  --- Dropdown menu from nav
  ---
  ---
*/

.global-nav-bar .nav-link{
  outline: none !important;
}

.flyout-menu{
  margin-top: 30px !important;
  border-radius: 10px;
  height: calc(100vh - 70px) !important;
  background-color: #5E0366 !important;
  width: 350px !important;
}


.flyout-menu .accordion-wrapper{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 301px !important; /* -49 */
}

.flyout-menu .mybb-tools{
  border-top-left-radius: 10px;
  background-color: #5E0366 !important;
}

.flyout-menu .bottom-buttons-help, .flyout-menu .bottom-buttons{
  border-bottom-right-radius: 10px !important;
}

.flyout-menu .bottom-buttons{
  width: 301px !important;
}

.flyout-menu .bottom-buttons li{
  width: 50% !important;
}

.accordion_content{
  height: calc(100vh - 199px) !important;
}

.flyout-menu .mybb-tools a{
  outline: none !important;
}

.flyout-menu .accordion_content a{
  text-decoration: none !important;
  border-bottom: none !important;
  margin-bottom: 1px !important;
}

.flyout-menu .accordion_content li{
  border-top: 1px dotted #ccc !important;
}

.flyout-menu .accordion_content li:first-child {
  border: none !important;
}




/*
  ---
  ---
  --- Main menu cards
  ---
  ---
*/

.portlet{
  background-color: white !important;
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  border-top-left-radius: 10px !important;
  border-color: white !important;
}

.portlet .collapsible{
   max-height: 100vh !important;
  overflow-y: hidden !important;
}

.portlet .collapsible:hover{
  overflow-y: auto !important;
}

.portlet h2{
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background-color: #fff !important;
}

.portlet .tab{
  background-color: #fff !important;
}

.portlet .tabcontent{
  border: none !important;
}

.portlet .tab button{
  border: none !important;
}

.portlet .tab button:hover{
  cursor: pointer;
}


.portlet .tabcontent h3{
  margin: 3px 0 !important;
}

/*
  ---
  ---
  --- Recent courses dropdown
  ---
  ---
*/

.courseArrow{
  transform: scale(1.1);
}

.courseArrow .cmimg{
    border: none;
    outline: none;
}

.courseArrow a:hover{
  transform: scale(1.12);
}

.cmdiv{
  top: 124px !important;
  width: 300px;
  height: calc(100vh - 124px - 20px) !important;
  overflow: hidden auto !important;
}

.cmdiv ul{
  width: calc(100% - 10px) !important;
  padding: 0 5px 5px 5px !important;
}

.cmdiv ul .labelMenuItem{
  padding: 10px 5px 0 5px;
}

.cmdiv ul li .close-menu{
    border: none;
    outline: none;
    width: 30px !important;
    margin: 5px 10px 0 calc(300px - 80px);
    transform: scale(1.5);
    padding: 0 !important;
    background-color: transparent !important;
}


/*
  ---
  ---
  --- Side menu clicker
  ---
  ---
*/


.clickpuller{
  border: none !important;
  outline: none !important;
  width: 20px !important;
  background-color: transparent !important;
  background-image: none !important;
  background-repeat: initial !important;
  box-shadow: none !important;
  z-index: 2 !important;
  margin-top: 1px;
  transform: translateX(-8px);
}

#puller.pullcollapsed{
  transform: translateX(10px);
}

#puller.pullcollapsed a:after {
  display: none;
}

#puller a:after {
  display: none;
}


/*
  ---
  ---
  --- Side menu
  ---
  ---
*/

.menuWrap h3 a{
  color: black !important;
}

.menuWrap {
  background-color: white !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  z-index: 2;
}

.menuWrap::after{
  content: "";
  background-color: white; !important;
  z-index: 10;
  width:100%;
  height: 10px;
  position: absolute;
  border-top: 1px solid #eee;
  top: 0;
  left: 0;
}

.menuWrap .navPaletteContent{
  background-color: white !important;
}

.menuWrap .courseMenu{
  background-color: white !important;
}

#courseMenuPalette_contents li {
  background-color: white !important;
}

#courseMenuPalette_contents li a span{
  color: black !important;
}

#courseMenuPalette h3 a{
  color: black !important;
}

#courseMenuPalette_paletteTitleHeading h3 {
  background-color: white !important;
  color: black !important;
}

#courseMenuPalette, #courseMenuPalette ul, .courseMenu span, .courseMenu a{
  background-color: white !important;
  color: black !important;
}

#courseMenuPalette #courseMapButton{
  margin: 0;
  position: absolute !important;
  left: 30px !important;
  top: 11px !important;
}

#courseMenuPalette #refreshMenuLink{
  margin: 0;
  position: absolute !important;
  left: 53px !important;
  top: 11px !important;
}

#courseMenuPalette .actionBarMicro ul li a {
  padding: 1px !important;
  margin: 0 !important;
  border-radius: 4px !important;
  background-color: #999;
} 

.actionBarMicro ul{
  display: flex !important;
  justify-content: center !important;
  float: none !important;
  padding: 10px 10px 0 10px !important;
  margin: 0 !important;
}

.actionBarMicro{
  height: 0 !important;
}

.navPaletteContent{
  padding-top: 0 !important;
}

.navPaletteTitle{
  padding-top: 30px;
}

.navPaletteTitle h3 {
  position: initial !important;
}

#homeicon:before {
  position: absolute !important;
  top: 7px !important;
  left: 0px !important;
  color: #ddd !important;
  background-color: #999;
  padding: 1px 2.5px !important;
  width: 15px !important;
  border-radius: 4px !important;
  transform: scale(0.90);
}

.menuWrap .courseMenu a{
  outline: none !important;
}

/*
  ---
  ---
  --- Course content
  ---
  ---
*/

.contentList .liItem .item_icon{
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
border-radius: 5px;
left: 28px !important;*/
}

.contentList, .contentListPlain{
  margin: 0 !important;
}

.shadow .container{
  border: none !important;
  border-radius: 10px !important;
  margin: 0 0 0 0 !important;
  padding: 0 !important;
  width: calc(100% - 1px);
}

.contentList li, .contentListPlain li{
  border: none !important;
  border-top: 1px solid #eee !important;  
}

.contentList li{
  min-height: 20px !important;
  padding: 25px 30px !important;
}

.contentList li:nth-child(odd) {
  background-color: #fbfbfb !important;
}

.contentList li:nth-child(odd):hover {
  background-color: #f4f4f4 !important;
}

.contentList li:nth-child(even) {
  background-color: #fefefe !important;
}

.contentList li:nth-child(even):hover {
  background-color: #f8f8f8 !important;
}

.contentList .liItem span, .contentList .liItem div{
  background-color: transparent !important;
}

.item h3 a span{
  text-decoration: none !important;
}

.contentList .details li{
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.contentList li img, .contentListPlain li img{
  border-radius: 10px !important;
}

/*
  ---
  ---
  --- Front page footer
  ---
  ---
*/

.uomFooter{
  margin-top: 10px !important;
}

.uomFooter span{
  display: inline-block !important;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.uomFooter:before{
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.uomFooter span a{
  text-decoration: none !important;
}

/*
  ---
  ---
  --- Screen readjustment rules
  ---
  ---
*/

@media only screen and (min-width: 320px) and (max-width: 1037px){
  .global-nav-bar .nav-link{
    margin: 0 !important;
  }

  .tabWrapper-right{
    display: block; !important;
    transform: scaleY(1);
  }

  .tabWrapper-right a{
    transform: scaleY(1);
  }

  .appTabs{
    transform: translateX(500px);
  }

  .appTabs td.active::before{
    display: none;
  }
}

/*
  ---
  ---
  --- Discussion boards
  ---
  ---
*/


.db-conversation {
  margin-right: 30px !important;
}

.actionBar{
  margin-right: 30px !important;
  margin-top: 20px !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

#selectAll_top, #selectNone_top{
    padding: 0.1rem 0.4rem 0.1rem 0.4rem !important;
  background-color: #dadada;
    box-shadow: inset 0 0 0 2px #dadada;
    text-decoration: none !important;
}

.thread-controls-top .navigationBar button{
    padding: 0.1rem 0.4rem 0.1rem 0.4rem !important;
  background-color: #dadada;
    box-shadow: inset 0 0 0 2px #dadada;
    border: none !important;
}

.thread-controls-top .navigationBar button img{
   border-radius: 2px !important;
}

.dbThreadInfo{
  
}

.unread-posts, .unread-replies-to-me-posts{
  border: none !important;
  background-color: transparent !important;
  position: relative !important;
}

.unread-posts:before, .unread-replies-to-me-posts:before{
  font-size: 1.5em;
  content: '•';
  position: absolute;
  top: 2px;
  left: -6px;
  width: 5px;
  height: 100%;
  z-index: 2;
}

.dbThreadInfo div:first-child {
  margin-right: 9px;
}

.actionBar .secondaryButton{
  outline: none !important;
  border-radius: 4px !important;
}

/*#selectAll_top{
  position: absolute !important;
  top: 40px;
  left: 40px;
  z-index: 2;
  padding: 0.5625rem 1.125rem 0.625rem !important;
  background-color: #dadada;
    box-shadow: inset 0 0 0 2px #dadada;
}*/

/*#selectNone_top{
  position: absolute !important;
  top: 50px;
  left: 40px;
  z-index: 2;
}*/

/*#messageDetailActionMenu{
  margin-left: 50px !important;
}*/

/*.actionBar .secondaryButton{
  background-color: #888 !important;
  padding-left: 10px !important;
}*/

/*.actionBar .secondaryButton:before{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}


.actionBar .secondaryButton:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  display: block;
  opacity: 0;
  transition: .4s;
}

.actionBar .secondaryButton:hover:after{
  opacity: 1;
  transition: .4s;
}

.actionBar .secondaryButton a{
  z-index: 3;
  background-color: transparent !important;
  background-image: none !important;
  background-repeat: initial !important;
  box-shadow: none !important;
  color: black !important;
}*/

.profileCardAvatarThumb img{
  border-radius: 50% !important;
  border: none;
}

.profileCardAvatarThumb button{
  background-color: transparent !important;
}

.dbThreadDetailTreeRowCellItem .message_selection_checkboxes{
  margin-left: 5px !important;
  margin-top: 22px !important;
}

.dbThreadDetailTreeRowCellItem + .flag{
  margin-left: 2px !important;
  margin-top: 5px !important;
}

.dbThreadDetailTreeRowCellItem + .read-status{
  margin-left: 2px !important;
  margin-top: 46px !important;
}

/*.message-wrapper-inner{
  margin-top: 0 !important;
  padding-top: 0 !important;
  background-color: #fff !important;
  box-shadow: none !important;
  border: none !important;
  border-top: 1px solid #ccc !important;
}

.db-reply-block{
  border: none !important;
}

.db-message-wrapper{
  padding-top: 0 !important;
  border: none !important;
}*/






/*.navigationBar{
  position: absolute !important;
  top: -80px !important;
}*/

/*#pageTitleText{
  position: absolute !important;
  bottom: 0 !important; 
}*/

/*.dbThreadInfo{
    position: absolute !important;
  top: -40px !important;
  right: 0 !important;
}*/












/*
  ---
  ---
  --- Blackboard main
  ---
  ---
*/

/*#5E0366*/
.iframe-wrap{
  border: none !important;
/*  width: 100% !important;*/
}

.cloud-iframe {
}


.side-nav{
  background-color: #fff  !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}


/*
  ---
  ---
  --- iframe content -- copy to inlineCSS in content.js to see changes
  ---
  ---
*/



/* Calendar */

.stream_header{
  background-color: #fff !important;
/*    background-image: none !important;
  background-repeat: initial !important;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  z-index: 6 !important;
  position: relative;
}

.stream_page_left {
  border: none !important;

}

.left_stream_wrapper{
/*  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2) !important;*/
border: none !important;
background-color: #fff !important;
z-index: 5 !important;
box-shadow: none !important;
}

.ui-datepicker-calendar .ui-state-default{
  width: 30px !important;
  height: 20px !important;
  text-align: center !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: #f0f0f0 !important;

}

.ui-datepicker-calendar td{
  padding: 3px 0 !important;
}

/*.ui-datepicker-calendar table {
    border-spacing: 2px;
    row-gap: 2px !important;
}*/

.fc-border-separate .fc-state-highlight{
  background-color: lightblue !important;
}





