/* Global style choices. Needs to be copied to content.js for embedded content */

/*:root {  
  --main-theme: #5E0366;

  --background-main: #fff;
  --background-main-outline: #dddddd;
  --background-tint-1: #fbfbfb;
  --background-tint-1-highlight: #f4f4f4;
  --background-tint-2: #fefefe;
  --background-tint-2-highlight: #f7f7f7;

  --secondary-button: #dadada;
  --secondary-button-highlight: #e8e8e8;
  --secondary-button-text: #333;

  --primary-button: #5E0366;
  --primary-button-highlight: #7a0485;
  --primary-button-text: #eee;

  --text-main: #000;
  --text-light: #555;
  --global-font: Open Sans,sans-serif;
}*/

:root {  
  --main-theme: #410247;

  --background-main: #111;
  --background-main-outline: #333;
  --background-tint-1: #191919;
  --background-tint-1-highlight: #191919;
  --background-tint-2: #222;
  --background-tint-2-highlight: #222;

  --secondary-button: #555;
  --secondary-button-highlight: #585858;
  --secondary-button-text: #ddd;

  --primary-button: #5E0366;
  --primary-button-highlight: #7a0485;
  --primary-button-text: #eee;

  --text-main: #ccc;
  --text-light: #999;
  --global-font: Open Sans,sans-serif;
}

